<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil"
      >RepasExpress</a
    >
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/tous">Plans</a>
        <a class="nav-item nav-link active" routerLink="/ajouter">Ajouter</a>
        <a class="nav-item nav-link active" routerLink="/supprimer"
          >Supprimer</a
        >
        <a class="nav-item nav-link active" routerLink="/modifier">Modifier</a>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>Bienvenue à</p>
    <p>Plans Repas</p>
  </div>
  <router-outlet></router-outlet>
</div>
